/*
# File name: config.css
#
# Description: The css code for the config screen from then Victor app
#
# Author: Zac Belado - pixelgeek@gmail.com
# Project: Victor
#
# Date: Wednesday April 26 2023
*/

Vertical {
    width: auto;
    border: solid red;
}

configScreen {
    align: center middle;
    background: blue;
    color: white;
}

