/*
# File name: victor.css
#
# Description: The css code for the Victor app
#
# Author: Zac Belado - pixelgeek@gmail.com
# Project: Victor
#
# Date: Tuesday April 04 2023
*/

/* App Elements */

Screen {
    background: $background;
}

Header {
    background: $panel-darken-3;
}

Footer {
    background: $accent-darken-3;
}

/* Top screen elements */

#topBar{
    height: 6;
    overflow: hidden;
    background: $background;
    border-bottom: hkey $background-darken-3;
}

#logo{
    width: 35;
}

#logoText {
    color: $error-darken-2;
    width: 1fr;
    height: 6;
    content-align-horizontal: center;
    content-align-vertical: middle;
}

#controls{
    
}

/* Bottom screen elements */

#bottomBar {
    layout: horizontal;
    padding: 0;
    background: $background;
}

#postDetails {
    color: $text-muted;
    background: $background;
    padding:1;
    overflow-x: hidden;
    width:100%;
    height: auto;
}

.directory-tree--extension {
    text-style: none;
}

#tree-view {
    display: block; 
    scrollbar-gutter: stable;
    overflow: auto;    
    width: 35;
    height: 100%;            
    dock: left;
    padding: 1;
    background: $panel-darken-3;
    overflow-x: hidden;  
}

#code-view {
    min-width: 100%;
    background: $primary-background;
}

#code {
    width: auto;    
}
